/* Дубль */
table.items tr.dublicate {
    background-color: #cccccc !important;
}

/* Важность: Высокая важность */
table.items tr.importance-high {
    background-color: #ffcccc !important;
}

/* Важность: край географии */
table.items tr.importance-far {
    background-color: #ccffcc !important;
}

/* Заголовки блоков */
table.client_card_block th {
    background-color: #e0e0e0;
}

/* Таблица, содержащая блоки карточки клиента*/
table.client-card-block-container td {
    /* width : 50%; */
    padding-left: 0;
    text-align: left;
    vertical-align: top;
}

table.client-card-block-container td.header {
    width : 120px;
}

table.client-card-block-container td input[type=text], 
table.client-card-block-container td input[type=email], 
table.client-card-block-container td select:not(.js-date-select-widget)
{
    width: 100%;
}